nltk~=3.9.1
pandas~=1.5.3
matplotlib~=3.9.3
scikit-learn~=1.7.1
joblib~=1.4.2
numpy~=1.26.4
tensorflow~=2.19.0
datasets~=3.5.1
transformers~=4.51.3
seaborn~=0.13.2
torch~=2.5.1
rouge_score~=0.1.2
streamlit~=1.21.0
sumy~=0.11.0
spacy~=3.8.4
wordcloud~=1.9.4
xgboost~=3.0.4
scipy~=1.13.1
sklearn-crfsuite~=0.5.0
seqeval~=1.2.2
pyLDAvis~=3.4.1